.dropdown-grid {
    border-collapse: collapse;
    width: 100%;
}

    .dropdown-grid th, .dropdown-grid td {
        padding: 8px;
        border: 1px solid #ddd;
    }


    .dropdown-grid th {
        background-color: lightgray;
        text-align:center;
    }

    .dropdown-grid tbody {
        overflow-y: auto; /* Agrega scroll vertical si es necesario */
        max-height: 200px; /* Altura máxima de la tabla antes de mostrar scroll */
    }

        .dropdown-grid tbody::-webkit-scrollbar {
            width: 8px; /* Ancho del scrollbar */
        }

        .dropdown-grid tbody::-webkit-scrollbar-thumb {
            background-color: #888; /* Color del scrollbar */
        }
