@model IEnumerable<VMDetalleSubApartado>

@{ViewData["Title"]="Conceptos";
}

<h1>Vista PArcial de lo seleccionado</h1>


@if (Model != null)
{
    <table class="table">
    <thead>
        <tr>
            <th>Concepto</th>
            <th>Clave ID</th>
        </tr>
    </thead>

    <tbody>      
            @foreach (var VMSubApartado in Model)
            {
                <tr>
                    <td>@VMSubApartado.Concepto</td>
                    <td>@VMSubApartado.ConceptoID</td>
                </tr>
            }
        </tbody>

    </table>

} else
{
    <p>No hay resultados</p>
}



